default:
    details:
        title: PLACEHOLDER # Example: "genular"
        email: PLACEHOLDER # Example: "support@genular.com"
    # Please generate 8 character random string, this is used for encryption purposes (database, files)
    salt: PLACEHOLDER
    # Please generate 16 character random string, this is used in some ajax/http communications
    # Plase make sure to have same secret defined on front end in config/env_*.json
    secret: PLACEHOLDER
    # API of your sendgrid account, for sending emails
    sendgrid_api: PLACEHOLDER # Example: "SG.jiozGM0FRrmyTddfgfgdzq6dqSNv7j33Y24yadg-INc1dgU"
    sendgrid_templates:
        register: PLACEHOLDER # Example: "23434-234-479d-978d-1623432475c0c"
    # Your SSH Key to be deployed in AI analysis cloud servers
    ssh_keys:
        - PLACEHOLDER # Example: - "ssh-rsa /sE7xgkay/+5wderewr/QNnQ1+3Wtw== example@example.com"
    ## If using could AI deployment mode please enter hetzner API credentials
    cloud_providers:
        hetzner:
            token: PLACEHOLDER
            analysis: PLACEHOLDER
        chargebee:
            site: PLACEHOLDER
            api: PLACEHOLDER
    storage:
        s3:
            key: PLACEHOLDER # Example: "OPERNifgfgdMYUQhVZo"
            secret: PLACEHOLDER # Example: "IYTydVkuCrdfgfdggnEXMOlbibuxJdaAfowLTWQH"
            region: "ams3" # Example: "ams3"
            endpoint: "digitaloceanspaces.com" # Example: "https://ams3.digitaloceanspaces.com"
            bucket: PLACEHOLDER # Example: "genular"
        local:
            ## Path to the storage directory (/tmp/g_temp) without trailing slash
            data_path: PLACEHOLDER
    ## Database configuration
    database:
        ## Database host IP address
        host: PLACEHOLDER
        ## Database host port
        port: PLACEHOLDER
        ## Database username
        user: PLACEHOLDER
        ## Password
        password: PLACEHOLDER
        ## Table name
        dbname: PLACEHOLDER
    ## In this section we can configure specific details for each backend server module
    analysis:
        ## Current web server general configuration
        server:
            debug: TRUE
            ## Domain name
            url: PLACEHOLDER_ANALYSIS_URL
            ## IP address
            proxy_host: "127.0.0.1"
            ## Port
            proxy_port: 8181
    plots:
        server:
            debug: TRUE
            url: PLACEHOLDER_PLOTS_URL
            proxy_host: "127.0.0.1"
            proxy_port: 8184
    backend:
        server:
            debug: TRUE
            url: PLACEHOLDER_BACKEND_URL
            proxy_host: "127.0.0.1"
            proxy_port: 8186
    ## Front-end dashboard interface domain
    frontend:
        server:
            url: PLACEHOLDER_FRONTEND_URL
